<section id="realisations" ng-controller="RealisationsController">
	<h2>Réalisations</h2>

	<ul class="row">
		<li class="col-md-6" ng-repeat="(key, item) in items">
			<a href="#Realisation/{{key}}">
				<figure>
					<img src="./img/Realisation-{{item.image}}" alt="" />
					<figcaption>
						<h2>{{item.title}}</h2>
					</figcaption>
				</figure>
			</a>
			<p>{{item.shortDesc}}</p>
		</li>
	</ul>
	
	<article ng-view></article>	
</section>

<section id="conferences" ng-controller="ConferencesController">
	<h2>Conférences</h2>
	<ul class="row">
		<li class="col-md-4" ng-repeat="item in items">
			<a href="#Conference/{{item.id}}">
				<figure>
					<img src="./img/Conf-{{item.image}}" alt="" />
					<figcaption>
						<h2>{{item.title}}</h2>
						<p class="onhover" ng-bind-html="item.location"></p>
					</figcaption>
				</figure>
			</a>
			
		</li>
	</ul>
	<article ng-view></article>	
	<p>
		Outre ces conférences qui ont lieues aléatoirement, je peux aussi vous proposer de <a href="http://dascritch.net/post/2014/05/07/Je-suis-un-Bagger">faire un brown bag avec votre équipe</a>.
	</p>
</section>

