Options -Indexes +Multiviews
AddDefaultCharset UTF-8

AddHandler application/json .json

<FilesMatch "\.html$">
	<ifModule mod_headers.c>
		Header set "Access-Control-Allow-Origin" "self"
		Header set "Access-Control-Allow-Headers" "Content-Type"
	</ifModule>
</FilesMatch>