# NOTE : j'aurais aimé faire autrement, mais .htaccess n'est pas forcément autorisé partout, et mes manips nécessaires encore moins sur github gh-pages...
# Donc je fais comme si on ne l'avait pas

Options -Indexes +Multiviews
AddDefaultCharset UTF-8

AddHandler application/json .json

<FilesMatch "\.html$">
	<ifModule mod_headers.c>
		Header set "Access-Control-Allow-Origin" "self"
		Header set "Access-Control-Allow-Headers" "Content-Type"
	</ifModule>
</FilesMatch>

<Directory data>
	ForceType application/json
	AddDefaultCharset UTF-8
	DirectoryIndex index.json
</Directory>